In [3]:
import pandas as pd
import numpy as np

from alpha_vantage.timeseries import TimeSeries 

import os
from dotenv import load_dotenv
load_dotenv()  # take environment variables from .env

True

In [4]:
symbols = [
    "AAPL",
    "MSFT",
    "AMZN",
    "FB",
    "GOOG",
    "GOOGL",
    "TSLA",
    "NVDA",
    "PYPL",
    "ASML",
    "INTC",
    "CMCSA",
    "NFLX",
    "ADBE",
    "CSCO",
    "PEP",
    "AVGO",
    "TXN",
    "TMUS",
]

### Configuration

In [5]:
config = {
    "alpha_vantage": {
        "key": os.environ.get("API_KEY"), # Claim your free API key here: https://www.alphavantage.co/support/#api-key
        "symbol": None,
        "outputsize": "full",
        "datatype": "csv",
    },
}

### Sample JSON Output

In [6]:
{
    "Meta Data": {
        "1. Information": "Daily Time Series with Splits and Dividend Events",
        "2. Symbol": "IBM",
        "3. Last Refreshed": "2022-02-03",
        "4. Output Size": "Full size",
        "5. Time Zone": "US/Eastern"
    },
    "Time Series (Daily)": {
        "2022-02-03": {
            "1. open": "137.0",
            "2. high": "138.76",
            "3. low": "135.831",
            "4. close": "137.78",
            "5. adjusted close": "137.78",
            "6. volume": "6100777",
            "7. dividend amount": "0.0000",
            "8. split coefficient": "1.0"
        },
    }
}

{'Meta Data': {'1. Information': 'Daily Time Series with Splits and Dividend Events',
  '2. Symbol': 'IBM',
  '3. Last Refreshed': '2022-02-03',
  '4. Output Size': 'Full size',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2022-02-03': {'1. open': '137.0',
   '2. high': '138.76',
   '3. low': '135.831',
   '4. close': '137.78',
   '5. adjusted close': '137.78',
   '6. volume': '6100777',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'}}}

In [7]:
def download_data(config, symbol):
    ts = TimeSeries(key=config["alpha_vantage"]["key"], output_format='pandas')
    data, meta_data = ts.get_daily_adjusted(symbol, outputsize=config["alpha_vantage"]["outputsize"])

    num_data_points = len(data)
    print(f"{symbol}: number data points", num_data_points)

    return data, meta_data

In [8]:
for symbol in symbols:
    data, meta_data = download_data(config, symbol)
    data.to_csv(f"./data/{symbol}.csv")

AAPL: number data points 5622
MSFT: number data points 5622
AMZN: number data points 5622
FB: number data points 2465
GOOG: number data points 2000
GOOGL: number data points 4417
TSLA: number data points 2942
NVDA: number data points 5622
PYPL: number data points 1670
ASML: number data points 5622
INTC: number data points 5622
CMCSA: number data points 5622
NFLX: number data points 4981
ADBE: number data points 5622
CSCO: number data points 5622
PEP: number data points 5622
AVGO: number data points 3167
TXN: number data points 5622
TMUS: number data points 3747

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3747 entries, 2022-03-04 to 2007-04-19
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   1. open               3747 non-null   float64
 1   2. high               3747 non-null   float64
 2   3. low                3747 non-null   float64
 3   4. close              3747 non-null   float64
 4   5. adjusted close     3747 non-null   float64
 5   6. volume             3747 non-null   float64
 6   7. dividend amount    3747 non-null   float64
 7   8. split coefficient  3747 non-null   float64
dtypes: float64(8)
memory usage: 263.5 KB

In [10]:
data.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2022-03-04,123.55,124.775,122.43,123.23,123.23,5086450.0,0.0,1.0
2022-03-03,126.54,127.200,123.63,123.92,123.92,4718782.0,0.0,1.0
2022-03-02,123.90,126.310,123.16,125.61,125.61,4177692.0,0.0,1.0
2022-03-01,121.91,124.030,121.63,123.13,123.13,4326066.0,0.0,1.0
2022-02-28,121.47,123.470,121.18,123.21,123.21,5167743.0,0.0,1.0