In [2]:
import pandas as pd
import numpy as np

from alpha_vantage.timeseries import TimeSeries 

import os
from dotenv import load_dotenv
load_dotenv()  # take environment variables from .env

True

### Configuration

In [3]:
config = {
    "alpha_vantage": {
        "key": os.environ.get("API_KEY"), # Claim your free API key here: https://www.alphavantage.co/support/#api-key
        "symbol": "AAPL",
        "outputsize": "full",
        "datatype": "csv",
    },
}

### Sample JSON Output

In [4]:
{
    "Meta Data": {
        "1. Information": "Daily Time Series with Splits and Dividend Events",
        "2. Symbol": "IBM",
        "3. Last Refreshed": "2022-02-03",
        "4. Output Size": "Full size",
        "5. Time Zone": "US/Eastern"
    },
    "Time Series (Daily)": {
        "2022-02-03": {
            "1. open": "137.0",
            "2. high": "138.76",
            "3. low": "135.831",
            "4. close": "137.78",
            "5. adjusted close": "137.78",
            "6. volume": "6100777",
            "7. dividend amount": "0.0000",
            "8. split coefficient": "1.0"
        },
    }
}

{'Meta Data': {'1. Information': 'Daily Time Series with Splits and Dividend Events',
  '2. Symbol': 'IBM',
  '3. Last Refreshed': '2022-02-03',
  '4. Output Size': 'Full size',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2022-02-03': {'1. open': '137.0',
   '2. high': '138.76',
   '3. low': '135.831',
   '4. close': '137.78',
   '5. adjusted close': '137.78',
   '6. volume': '6100777',
   '7. dividend amount': '0.0000',
   '8. split coefficient': '1.0'}}}

In [9]:
def download_data(config):
    ts = TimeSeries(key=config["alpha_vantage"]["key"], output_format='pandas')
    data, meta_data = ts.get_daily_adjusted(config["alpha_vantage"]["symbol"], outputsize=config["alpha_vantage"]["outputsize"])

    num_data_points = len(data)
    print("Number data points", num_data_points)

    return data, meta_data

In [6]:
data, meta_data = download_data(config)

Number data points 5602

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5602 entries, 2022-02-03 to 1999-11-01
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   1. open               5602 non-null   float64
 1   2. high               5602 non-null   float64
 2   3. low                5602 non-null   float64
 3   4. close              5602 non-null   float64
 4   5. adjusted close     5602 non-null   float64
 5   6. volume             5602 non-null   float64
 6   7. dividend amount    5602 non-null   float64
 7   8. split coefficient  5602 non-null   float64
dtypes: float64(8)
memory usage: 393.9 KB

In [8]:
data.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2022-02-03,174.480,176.2399,172.12,172.90,172.90,89418074.0,0.0,1.0
2022-02-02,174.745,175.8800,173.33,175.84,175.84,84914256.0,0.0,1.0
2022-02-01,174.010,174.8400,172.31,174.61,174.61,86213911.0,0.0,1.0
2022-01-31,170.160,175.0000,169.51,174.78,174.78,115541590.0,0.0,1.0
2022-01-28,165.710,170.3500,162.80,170.33,170.33,179935660.0,0.0,1.0

In [11]:
# data.to_csv("./data/APPL.csv")