In [114]:
import pandas as pd
import numpy as np

from alpha_vantage.timeseries import TimeSeries 

import os
from dotenv import load_dotenv
load_dotenv()  # take environment variables from .env

True

In [115]:
symbols = [
    "AAPL",
    "MSFT",
    "AMZN",
    "FB",
    "GOOG",
    "GOOGL",
    "TSLA",
    "NVDA",
    "PYPL",
    "ASML",
    "INTC",
    "CMCSA",
    "NFLX",
    "ADBE",
    "CSCO",
    "PEP",
    "AVGO",
    "TXN",
    "TMUS",
]

In [116]:
slices = [
    "year1month1",
    "year1month2",
    "year1month3",
    "year1month4",
    "year1month5",
    "year1month6",
    "year1month7",
    "year1month8",
    "year1month9",
    "year1month10",
    "year1month11",
    "year1month12",
    "year2month1",
    "year2month2",
    "year2month3",
    "year2month4",
    "year2month5",
    "year2month6",
    "year2month7",
    "year2month8",
    "year2month9",
    "year2month10",
    "year2month11",
    "year2month12",
]

### Configuration

In [117]:
config = {
    "alpha_vantage": {
        "key": os.environ.get("API_KEY"), # Claim your free API key here: https://www.alphavantage.co/support/#api-key
        "symbol": None,
        "interval": "30min",
        "slice": None,
        "adjusted": True
    },
}

In [118]:
ts = TimeSeries(key=config["alpha_vantage"]["key"], output_format='csv')

In [119]:
data = ts.get_intraday_extended(symbol="AAPL", interval="30min")

In [120]:
# csv to dataframe
df_test = pd.DataFrame(list(data[0]))

# define header row
header_row = 0
df_test.columns = df_test.iloc[header_row]
df_test = df_test.drop(header_row)
df_test.set_index("time", inplace=True)

In [121]:
df_test.head()

0                      open    high     low   close volume
time
2022-03-04 20:00:00  163.05  163.05  162.91  162.97  17754
2022-03-04 19:30:00  163.05  163.05  162.96  163.05  30836
2022-03-04 19:00:00  163.08  163.16   163.0  163.05  25122
2022-03-04 18:30:00  163.05  163.08  163.01  163.06   6195
2022-03-04 18:00:00   163.2   163.2  163.01  163.05   9391

In [122]:
def download_data(config, symbol, time_slice):
    ts = TimeSeries(key=config["alpha_vantage"]["key"], output_format='csv')
    data = ts.get_intraday_extended(symbol=symbol, slice=time_slice, interval=config["alpha_vantage"]["interval"])

    #csv --> dataframe
    df = pd.DataFrame(list(data[0]))

    #setup of column and index
    header_row = 0
    df.columns = df.iloc[header_row]
    df = df.drop(header_row)
    df.set_index('time', inplace=True)

    num_data_points = df.shape[0]
    print(f"{symbol} - {time_slice}: number data points", num_data_points)

    return df

In [123]:
interval = config["alpha_vantage"]["interval"]

for symbol in symbols:
    
    # initialize empty dataframe for each symbol
    df_all_slices = pd.DataFrame()
    
    # loop for all time slices
    for time_slice in slices:
        print(symbol, time_slice)
        df = download_data(config, symbol, time_slice)
        df_all_slices = pd.concat([df_all_slices, df])
    
    # write combined symbol data to csv
    df_all_slices.to_csv(f"./data/{symbol}_intraday_extended_{interval}.csv")

AAPL year1month1
AAPL - year1month1: number data points 672
AAPL year1month2
AAPL - year1month2: number data points 672
AAPL year1month3
AAPL - year1month3: number data points 639
AAPL year1month4
AAPL - year1month4: number data points 629
AAPL year1month5
AAPL - year1month5: number data points 704
AAPL year1month6
AAPL - year1month6: number data points 672
AAPL year1month7
AAPL - year1month7: number data points 640
AAPL year1month8
AAPL - year1month8: number data points 704
AAPL year1month9
AAPL - year1month9: number data points 672
AAPL year1month10
AAPL - year1month10: number data points 640
AAPL year1month11
AAPL - year1month11: number data points 672
AAPL year1month12
AAPL - year1month12: number data points 672
AAPL year2month1
AAPL - year2month1: number data points 672
AAPL year2month2
AAPL - year2month2: number data points 608
AAPL year2month3
AAPL - year2month3: number data points 629
AAPL year2month4
AAPL - year2month4: number data points 661
AAPL year2month5
AAPL - year2month5: number data points 672
AAPL year2month6
AAPL - year2month6: number data points 672
AAPL year2month7
AAPL - year2month7: number data points 672
AAPL year2month8
AAPL - year2month8: number data points 704
AAPL year2month9
AAPL - year2month9: number data points 606
AAPL year2month10
AAPL - year2month10: number data points 670
AAPL year2month11
AAPL - year2month11: number data points 702
AAPL year2month12
AAPL - year2month12: number data points 639
MSFT year1month1
MSFT - year1month1: number data points 670
MSFT year1month2
MSFT - year1month2: number data points 670
MSFT year1month3
MSFT - year1month3: number data points 631
MSFT year1month4
MSFT - year1month4: number data points 623
MSFT year1month5
MSFT - year1month5: number data points 692
MSFT year1month6
MSFT - year1month6: number data points 665
MSFT year1month7
MSFT - year1month7: number data points 623
MSFT year1month8
MSFT - year1month8: number data points 697
MSFT year1month9
MSFT - year1month9: number data points 657
MSFT year1month10
MSFT - year1month10: number data points 623
MSFT year1month11
MSFT - year1month11: number data points 666
MSFT year1month12
MSFT - year1month12: number data points 665
MSFT year2month1
MSFT - year2month1: number data points 660
MSFT year2month2
MSFT - year2month2: number data points 602
MSFT year2month3
MSFT - year2month3: number data points 616
MSFT year2month4
MSFT - year2month4: number data points 651
MSFT year2month5
MSFT - year2month5: number data points 669
MSFT year2month6
MSFT - year2month6: number data points 665
MSFT year2month7
MSFT - year2month7: number data points 668
MSFT year2month8
MSFT - year2month8: number data points 701
MSFT year2month9
MSFT - year2month9: number data points 597
MSFT year2month10
MSFT - year2month10: number data points 664
MSFT year2month11
MSFT - year2month11: number data points 702
MSFT year2month12
MSFT - year2month12: number data points 639
AMZN year1month1
AMZN - year1month1: number data points 575
AMZN year1month2
AMZN - year1month2: number data points 560
AMZN year1month3
AMZN - year1month3: number data points 511
AMZN year1month4
AMZN - year1month4: number data points 524
AMZN year1month5
AMZN - year1month5: number data points 588
AMZN year1month6
AMZN - year1month6: number data points 540
AMZN year1month7
AMZN - year1month7: number data points 517
AMZN year1month8
AMZN - year1month8: number data points 596
AMZN year1month9
AMZN - year1month9: number data points 574
AMZN year1month10
AMZN - year1month10: number data points 522
AMZN year1month11
AMZN - year1month11: number data points 576
AMZN year1month12
AMZN - year1month12: number data points 552
AMZN year2month1
AMZN - year2month1: number data points 597
AMZN year2month2
AMZN - year2month2: number data points 548
AMZN year2month3
AMZN - year2month3: number data points 542
AMZN year2month4
AMZN - year2month4: number data points 579
AMZN year2month5
AMZN - year2month5: number data points 604
AMZN year2month6
AMZN - year2month6: number data points 601
AMZN year2month7
AMZN - year2month7: number data points 576
AMZN year2month8
AMZN - year2month8: number data points 639
AMZN year2month9
AMZN - year2month9: number data points 555
AMZN year2month10
AMZN - year2month10: number data points 586
AMZN year2month11
AMZN - year2month11: number data points 641
AMZN year2month12
AMZN - year2month12: number data points 597
FB year1month1
FB - year1month1: number data points 671
FB year1month2
FB - year1month2: number data points 659
FB year1month3
FB - year1month3: number data points 628
FB year1month4
FB - year1month4: number data points 628
FB year1month5
FB - year1month5: number data points 701
FB year1month6
FB - year1month6: number data points 635
FB year1month7
FB - year1month7: number data points 586
FB year1month8
FB - year1month8: number data points 676
FB year1month9
FB - year1month9: number data points 618
FB year1month10
FB - year1month10: number data points 614
FB year1month11
FB - year1month11: number data points 645
FB year1month12
FB - year1month12: number data points 658
FB year2month1
FB - year2month1: number data points 656
FB year2month2
FB - year2month2: number data points 605
FB year2month3
FB - year2month3: number data points 607
FB year2month4
FB - year2month4: number data points 643
FB year2month5
FB - year2month5: number data points 663
FB year2month6
FB - year2month6: number data points 658
FB year2month7
FB - year2month7: number data points 645
FB year2month8
FB - year2month8: number data points 690
FB year2month9
FB - year2month9: number data points 596
FB year2month10
FB - year2month10: number data points 659
FB year2month11
FB - year2month11: number data points 693
FB year2month12
FB - year2month12: number data points 639
GOOG year1month1
GOOG - year1month1: number data points 476
GOOG year1month2
GOOG - year1month2: number data points 454
GOOG year1month3
GOOG - year1month3: number data points 364
GOOG year1month4
GOOG - year1month4: number data points 377
GOOG year1month5
GOOG - year1month5: number data points 451
GOOG year1month6
GOOG - year1month6: number data points 410
GOOG year1month7
GOOG - year1month7: number data points 390
GOOG year1month8
GOOG - year1month8: number data points 448
GOOG year1month9
GOOG - year1month9: number data points 398
GOOG year1month10
GOOG - year1month10: number data points 387
GOOG year1month11
GOOG - year1month11: number data points 440
GOOG year1month12
GOOG - year1month12: number data points 410
GOOG year2month1
GOOG - year2month1: number data points 418
GOOG year2month2
GOOG - year2month2: number data points 424
GOOG year2month3
GOOG - year2month3: number data points 375
GOOG year2month4
GOOG - year2month4: number data points 405
GOOG year2month5
GOOG - year2month5: number data points 484
GOOG year2month6
GOOG - year2month6: number data points 429
GOOG year2month7
GOOG - year2month7: number data points 427
GOOG year2month8
GOOG - year2month8: number data points 460
GOOG year2month9
GOOG - year2month9: number data points 393
GOOG year2month10
GOOG - year2month10: number data points 431
GOOG year2month11
GOOG - year2month11: number data points 501
GOOG year2month12
GOOG - year2month12: number data points 501
GOOGL year1month1
GOOGL - year1month1: number data points 476
GOOGL year1month2
GOOGL - year1month2: number data points 478
GOOGL year1month3
GOOGL - year1month3: number data points 397
GOOGL year1month4
GOOGL - year1month4: number data points 425
GOOGL year1month5
GOOGL - year1month5: number data points 491
GOOGL year1month6
GOOGL - year1month6: number data points 424
GOOGL year1month7
GOOGL - year1month7: number data points 406
GOOGL year1month8
GOOGL - year1month8: number data points 476
GOOGL year1month9
GOOGL - year1month9: number data points 424
GOOGL year1month10
GOOGL - year1month10: number data points 406
GOOGL year1month11
GOOGL - year1month11: number data points 442
GOOGL year1month12
GOOGL - year1month12: number data points 449
GOOGL year2month1
GOOGL - year2month1: number data points 436
GOOGL year2month2
GOOGL - year2month2: number data points 430
GOOGL year2month3
GOOGL - year2month3: number data points 396
GOOGL year2month4
GOOGL - year2month4: number data points 418
GOOGL year2month5
GOOGL - year2month5: number data points 492
GOOGL year2month6
GOOGL - year2month6: number data points 444
GOOGL year2month7
GOOGL - year2month7: number data points 424
GOOGL year2month8
GOOGL - year2month8: number data points 470
GOOGL year2month9
GOOGL - year2month9: number data points 417
GOOGL year2month10
GOOGL - year2month10: number data points 444
GOOGL year2month11
GOOGL - year2month11: number data points 539
GOOGL year2month12
GOOGL - year2month12: number data points 481
TSLA year1month1
TSLA - year1month1: number data points 670
TSLA year1month2
TSLA - year1month2: number data points 672
TSLA year1month3
TSLA - year1month3: number data points 638
TSLA year1month4
TSLA - year1month4: number data points 629
TSLA year1month5
TSLA - year1month5: number data points 704
TSLA year1month6
TSLA - year1month6: number data points 664
TSLA year1month7
TSLA - year1month7: number data points 632
TSLA year1month8
TSLA - year1month8: number data points 703
TSLA year1month9
TSLA - year1month9: number data points 666
TSLA year1month10
TSLA - year1month10: number data points 640
TSLA year1month11
TSLA - year1month11: number data points 672
TSLA year1month12
TSLA - year1month12: number data points 671
TSLA year2month1
TSLA - year2month1: number data points 670
TSLA year2month2
TSLA - year2month2: number data points 608
TSLA year2month3
TSLA - year2month3: number data points 629
TSLA year2month4
TSLA - year2month4: number data points 661
TSLA year2month5
TSLA - year2month5: number data points 671
TSLA year2month6
TSLA - year2month6: number data points 672
TSLA year2month7
TSLA - year2month7: number data points 657
TSLA year2month8
TSLA - year2month8: number data points 674
TSLA year2month9
TSLA - year2month9: number data points 595
TSLA year2month10
TSLA - year2month10: number data points 649
TSLA year2month11
TSLA - year2month11: number data points 699
TSLA year2month12
TSLA - year2month12: number data points 640
NVDA year1month1
NVDA - year1month1: number data points 672
NVDA year1month2
NVDA - year1month2: number data points 672
NVDA year1month3
NVDA - year1month3: number data points 639
NVDA year1month4
NVDA - year1month4: number data points 629
NVDA year1month5
NVDA - year1month5: number data points 702
NVDA year1month6
NVDA - year1month6: number data points 660
NVDA year1month7
NVDA - year1month7: number data points 636
NVDA year1month8
NVDA - year1month8: number data points 696
NVDA year1month9
NVDA - year1month9: number data points 634
NVDA year1month10
NVDA - year1month10: number data points 606
NVDA year1month11
NVDA - year1month11: number data points 616
NVDA year1month12
NVDA - year1month12: number data points 608
NVDA year2month1
NVDA - year2month1: number data points 644
NVDA year2month2
NVDA - year2month2: number data points 561
NVDA year2month3
NVDA - year2month3: number data points 576
NVDA year2month4
NVDA - year2month4: number data points 616
NVDA year2month5
NVDA - year2month5: number data points 636
NVDA year2month6
NVDA - year2month6: number data points 660
NVDA year2month7
NVDA - year2month7: number data points 652
NVDA year2month8
NVDA - year2month8: number data points 652
NVDA year2month9
NVDA - year2month9: number data points 567
NVDA year2month10
NVDA - year2month10: number data points 646
NVDA year2month11
NVDA - year2month11: number data points 669
NVDA year2month12
NVDA - year2month12: number data points 625
PYPL year1month1
PYPL - year1month1: number data points 669
PYPL year1month2
PYPL - year1month2: number data points 663
PYPL year1month3
PYPL - year1month3: number data points 611
PYPL year1month4
PYPL - year1month4: number data points 628
PYPL year1month5
PYPL - year1month5: number data points 647
PYPL year1month6
PYPL - year1month6: number data points 566
PYPL year1month7
PYPL - year1month7: number data points 537
PYPL year1month8
PYPL - year1month8: number data points 618
PYPL year1month9
PYPL - year1month9: number data points 575
PYPL year1month10
PYPL - year1month10: number data points 549
PYPL year1month11
PYPL - year1month11: number data points 608
PYPL year1month12
PYPL - year1month12: number data points 621
PYPL year2month1
PYPL - year2month1: number data points 657
PYPL year2month2
PYPL - year2month2: number data points 560
PYPL year2month3
PYPL - year2month3: number data points 565
PYPL year2month4
PYPL - year2month4: number data points 605
PYPL year2month5
PYPL - year2month5: number data points 627
PYPL year2month6
PYPL - year2month6: number data points 591
PYPL year2month7
PYPL - year2month7: number data points 582
PYPL year2month8
PYPL - year2month8: number data points 606
PYPL year2month9
PYPL - year2month9: number data points 531
PYPL year2month10
PYPL - year2month10: number data points 548
PYPL year2month11
PYPL - year2month11: number data points 636
PYPL year2month12
PYPL - year2month12: number data points 556
ASML year1month1
ASML - year1month1: number data points 501
ASML year1month2
ASML - year1month2: number data points 547
ASML year1month3
ASML - year1month3: number data points 466
ASML year1month4
ASML - year1month4: number data points 468
ASML year1month5
ASML - year1month5: number data points 548
ASML year1month6
ASML - year1month6: number data points 525
ASML year1month7
ASML - year1month7: number data points 424
ASML year1month8
ASML - year1month8: number data points 524
ASML year1month9
ASML - year1month9: number data points 478
ASML year1month10
ASML - year1month10: number data points 465
ASML year1month11
ASML - year1month11: number data points 477
ASML year1month12
ASML - year1month12: number data points 498
ASML year2month1
ASML - year2month1: number data points 491
ASML year2month2
ASML - year2month2: number data points 435
ASML year2month3
ASML - year2month3: number data points 394
ASML year2month4
ASML - year2month4: number data points 417
ASML year2month5
ASML - year2month5: number data points 434
ASML year2month6
ASML - year2month6: number data points 440
ASML year2month7
ASML - year2month7: number data points 440
ASML year2month8
ASML - year2month8: number data points 524
ASML year2month9
ASML - year2month9: number data points 387
ASML year2month10
ASML - year2month10: number data points 480
ASML year2month11
ASML - year2month11: number data points 456
ASML year2month12
ASML - year2month12: number data points 453
INTC year1month1
INTC - year1month1: number data points 669
INTC year1month2
INTC - year1month2: number data points 670
INTC year1month3
INTC - year1month3: number data points 633
INTC year1month4
INTC - year1month4: number data points 626
INTC year1month5
INTC - year1month5: number data points 693
INTC year1month6
INTC - year1month6: number data points 657
INTC year1month7
INTC - year1month7: number data points 615
INTC year1month8
INTC - year1month8: number data points 684
INTC year1month9
INTC - year1month9: number data points 649
INTC year1month10
INTC - year1month10: number data points 618
INTC year1month11
INTC - year1month11: number data points 657
INTC year1month12
INTC - year1month12: number data points 650
INTC year2month1
INTC - year2month1: number data points 648
INTC year2month2
INTC - year2month2: number data points 604
INTC year2month3
INTC - year2month3: number data points 598
INTC year2month4
INTC - year2month4: number data points 655
INTC year2month5
INTC - year2month5: number data points 669
INTC year2month6
INTC - year2month6: number data points 666
INTC year2month7
INTC - year2month7: number data points 672
INTC year2month8
INTC - year2month8: number data points 687
INTC year2month9
INTC - year2month9: number data points 569
INTC year2month10
INTC - year2month10: number data points 635
INTC year2month11
INTC - year2month11: number data points 680
INTC year2month12
INTC - year2month12: number data points 622
CMCSA year1month1
CMCSA - year1month1: number data points 457
CMCSA year1month2
CMCSA - year1month2: number data points 506
CMCSA year1month3
CMCSA - year1month3: number data points 465
CMCSA year1month4
CMCSA - year1month4: number data points 416
CMCSA year1month5
CMCSA - year1month5: number data points 484
CMCSA year1month6
CMCSA - year1month6: number data points 447
CMCSA year1month7
CMCSA - year1month7: number data points 379
CMCSA year1month8
CMCSA - year1month8: number data points 439
CMCSA year1month9
CMCSA - year1month9: number data points 408
CMCSA year1month10
CMCSA - year1month10: number data points 433
CMCSA year1month11
CMCSA - year1month11: number data points 471
CMCSA year1month12
CMCSA - year1month12: number data points 436
CMCSA year2month1
CMCSA - year2month1: number data points 481
CMCSA year2month2
CMCSA - year2month2: number data points 431
CMCSA year2month3
CMCSA - year2month3: number data points 422
CMCSA year2month4
CMCSA - year2month4: number data points 430
CMCSA year2month5
CMCSA - year2month5: number data points 460
CMCSA year2month6
CMCSA - year2month6: number data points 448
CMCSA year2month7
CMCSA - year2month7: number data points 422
CMCSA year2month8
CMCSA - year2month8: number data points 470
CMCSA year2month9
CMCSA - year2month9: number data points 408
CMCSA year2month10
CMCSA - year2month10: number data points 440
CMCSA year2month11
CMCSA - year2month11: number data points 493
CMCSA year2month12
CMCSA - year2month12: number data points 484
NFLX year1month1
NFLX - year1month1: number data points 602
NFLX year1month2
NFLX - year1month2: number data points 600
NFLX year1month3
NFLX - year1month3: number data points 452
NFLX year1month4
NFLX - year1month4: number data points 472
NFLX year1month5
NFLX - year1month5: number data points 585
NFLX year1month6
NFLX - year1month6: number data points 523
NFLX year1month7
NFLX - year1month7: number data points 431
NFLX year1month8
NFLX - year1month8: number data points 552
NFLX year1month9
NFLX - year1month9: number data points 507
NFLX year1month10
NFLX - year1month10: number data points 468
NFLX year1month11
NFLX - year1month11: number data points 546
NFLX year1month12
NFLX - year1month12: number data points 504
NFLX year2month1
NFLX - year2month1: number data points 518
NFLX year2month2
NFLX - year2month2: number data points 535
NFLX year2month3
NFLX - year2month3: number data points 497
NFLX year2month4
NFLX - year2month4: number data points 549
NFLX year2month5
NFLX - year2month5: number data points 607
NFLX year2month6
NFLX - year2month6: number data points 581
NFLX year2month7
NFLX - year2month7: number data points 562
NFLX year2month8
NFLX - year2month8: number data points 639
NFLX year2month9
NFLX - year2month9: number data points 518
NFLX year2month10
NFLX - year2month10: number data points 591
NFLX year2month11
NFLX - year2month11: number data points 638
NFLX year2month12
NFLX - year2month12: number data points 583
ADBE year1month1
ADBE - year1month1: number data points 464
ADBE year1month2
ADBE - year1month2: number data points 508
ADBE year1month3
ADBE - year1month3: number data points 451
ADBE year1month4
ADBE - year1month4: number data points 408
ADBE year1month5
ADBE - year1month5: number data points 453
ADBE year1month6
ADBE - year1month6: number data points 476
ADBE year1month7
ADBE - year1month7: number data points 374
ADBE year1month8
ADBE - year1month8: number data points 439
ADBE year1month9
ADBE - year1month9: number data points 445
ADBE year1month10
ADBE - year1month10: number data points 381
ADBE year1month11
ADBE - year1month11: number data points 402
ADBE year1month12
ADBE - year1month12: number data points 456
ADBE year2month1
ADBE - year2month1: number data points 468
ADBE year2month2
ADBE - year2month2: number data points 406
ADBE year2month3
ADBE - year2month3: number data points 417
ADBE year2month4
ADBE - year2month4: number data points 464
ADBE year2month5
ADBE - year2month5: number data points 462
ADBE year2month6
ADBE - year2month6: number data points 520
ADBE year2month7

In [124]:
df_all_slices.tail()

0                     open   high    low  close  volume
time
2020-03-16 10:00:00  78.34  78.34  74.84  76.88  310740
2020-03-16 09:30:00  76.12  79.24  76.12  77.21    1373
2020-03-16 09:00:00  77.01  77.02   77.0   77.0     744
2020-03-16 08:30:00   76.7  77.01   76.7  77.01    1338
2020-03-16 08:00:00  79.98  79.98  78.36  78.36     531